<% include ./inc/header.ejs %>
    <main>
        <img src="../assets/images/logo.png" alt="LOGO" title="LOGO">
        <h1>This is TEST PAGE</h1>
        <a href="./index.html">MAIN PAGEasd</a>
    </main>
<% include ./inc/footer.ejs %>